<div class="container">
  <div id="flagged-table" class="table-section">
    <h1>Flagged Projects</h1>
    <div class="tbl-header">
      <table class="table-bordered">
        <thead class="thead-inverse">
          <tr>
              <th class="text-center">Project Title</th>
              <th class="text-center">Description</th>
              <th class="text-center">Funding Status</th>
              <th class="text-center">Project Type</th>
              <th class="text-center">More Info/Comments</th>
              <th class="text-center">Contact Name</th>
              <th class="text-center">Contact Number</th>
              <th class="text-center">Contact Email</th>
              <th class="text-center">Potential Duplicate ID</th>
              <th class="text-center">Edit/Delete/View</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table class="table-bordered">
        <tbody>
          {{#each flagged}}
            <tr>
                <td class="text-center">{{this.Proj_Title}}</td>
                <td class="text-center">{{this.Proj_Desc}}</td>
                <td class="text-center">{{this.Fund_St}}</td>
                <td class="text-center">{{this.Proj_Ty}}</td>
                <td class="text-center">{{this.More_info}}</td>
                <td class="text-center">{{this.Contact_info.Contact_info_name}}</td>
                <td class="text-center">{{this.Contact_info.Contact_info_phone}}</td>
                <td class="text-center">{{this.Contact_info.Contact_info_email}}</td>
                <td class="text-center">{{this.Dup_ID}}</td>
                <td class="text-center">
                  <button data-id="{{this.id}}" type="button" name="button" class="delete btn btn-danger table-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  <a href="/projects/edit/{{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="edit btn btn-primary table-button">Edit</button></a>
                  <a href="/?id={{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="view btn btn-warning">View</button></a>
                </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div id="duplicates-table" class="table-section">
    <h1>Potential Duplicates</h1>
    <div class="tbl-header">
      <table class="table-bordered">
        <thead class="thead-inverse">
          <tr>
              <th class="text-center">Project Title</th>
              <th class="text-center">Description</th>
              <th class="text-center">Funding Status</th>
              <th class="text-center">Project Type</th>
              <th class="text-center">More Info/Comments</th>
              <th class="text-center">Contact Name</th>
              <th class="text-center">Contact Number</th>
              <th class="text-center">Contact Email</th>
              <th class="text-center">Potential Duplicate ID</th>
              <th class="text-center">Edit/Delete/View</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table class="table-bordered">
        <tbody>
          {{#each duplicates}}
            <tr>
                <td class="text-center">{{this.Proj_Title}}</td>
                <td class="text-center">{{this.Proj_Desc}}</td>
                <td class="text-center">{{this.Fund_St}}</td>
                <td class="text-center">{{this.Proj_Ty}}</td>
                <td class="text-center">{{this.More_info}}</td>
                <td class="text-center">{{this.Contact_info.Contact_info_name}}</td>
                <td class="text-center">{{this.Contact_info.Contact_info_phone}}</td>
                <td class="text-center">{{this.Contact_info.Contact_info_email}}</td>
                <td class="text-center">{{this.Dup_ID}}</td>
                <td class="text-center">
                  <button data-id="{{this.id}}" type="button" name="button" class="delete btn btn-danger table-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  <a href="/projects/edit/{{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="edit btn btn-primary table-button">Edit</button></a>
                  <a href="/?id={{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="view btn btn-warning">View</button></a>
                </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
