<div class="container">
  {{#if logged_in}}
    <div id="search-results" class="table-section">
      <h1>Search Results</h1>
      <div class="tbl-header">
        <table class="table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th>Select</th>
              <th>Project Title</th>
              <th>Description</th>
              <th>Project Type</th>
              <th>Contact Name</th>
              <th>Contact Number</th>
              <th>Contact Email</th>
              <th>Edit/Delete/View</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="tbl-content">
        <table class="table-bordered">
          <tbody>
            {{#each projects}}
                <tr>
                    <td><input type="checkbox" value="{{this.id}}"></td>
                    <td>{{this.Proj_Title}}</td>
                    <td>{{this.Proj_Desc}}</td>
                    <td>{{this.Proj_Ty}}</td>
                    <td>{{this.Contact_info.Contact_info_name}}</td>
                    <td>{{this.Contact_info.Contact_info_phone}}</td>
                    <td>{{this.Contact_info.Contact_info_email}}</td>
                    <td>
                      <button data-id="{{this.id}}" type="button" name="button" class="delete btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      <a href="/projects/edit/{{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="edit btn btn-primary btn-sm">Edit</button></a>
                      <a href="/?id={{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="view btn btn-success btn-sm">View</button>
                    </td>
                </tr>
              {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}
  {{#unless logged_in}}
  <div id="search-results" class="table-section">
      <h1>Search Results</h1>
      <div class="tbl-header">
        <table class="table-bordered">
          <thead class="thead-inverse">
              <tr>
                <th>Select</th>
                <th>Project Title</th>
                <th>Description</th>
                <th>Project Type</th>
                <th>Contact Name</th>
                <th>Contact Number</th>
                <th>Contact Email</th>
              </tr>
          </thead>
        </table>
      </div>

      <div class="tbl-content">
        <table class="table-bordered">
          <tbody>
            {{#each projects}}
              <tr>
                <td><input type="checkbox" value="{{this.id}}"></td>
                <td>{{this.Proj_Title}}</td>
                <td>{{this.Proj_Desc}}</td>
                <td>{{this.Proj_Ty}}</td>
                <td>{{this.Contact_info.Contact_info_name}}</td>
                <td>{{this.Contact_info.Contact_info_phone}}</td>
                <td>{{this.Contact_info.Contact_info_email}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/unless}}
</div>
