<div class="container">
  {{#if logged_in}}
    <div id="search-results" class="table-section">
      <h1>Search Results</h1>
      <input type="checkbox" class="select-all-box" id="search-select-all"><h4 class="select-all">Select All</h4>
      <div class="tbl-header">
        <table class="table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th>Select</th>
              <th>Project Title</th>
              <th>Description</th>
              <th>Project Type</th>
              <th>Contact Name</th>
              <th>Contact Number</th>
              <th>Contact Email</th>
              <th>View/Edit/Delete</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="tbl-content">
        <table class="table-bordered">
          <tbody>
            {{#each projects}}
                <tr>
                    <td><input type="checkbox" value="{{this.id}}"></td>
                    <td>{{this.Proj_Title}}</td>
                    <td>{{this.Proj_Desc}}</td>
                    <td>{{this.Proj_Ty}}</td>
                    <td>{{this.Contact_info.Contact_info_name}}</td>
                    <td>{{this.Contact_info.Contact_info_phone}}</td>
                    <td>{{this.Contact_info.Contact_info_email}}</td>
                    <td class="text-center">
                      <a href="/?id={{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="view btn btn-success table-button"><i class="fa fa-map-marker" aria-hidden="true"></i></button><br>
                      <a href="/projects/edit/{{this.id}}"><button data-id="{{this.id}}" type="button" name="button" class="edit btn btn-primary table-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a><br>
                      <button data-id="{{this.id}}" type="button" name="button" class="delete btn btn-danger table-button"><i class="fa fa-trash" aria-hidden="true"></i></button><br>
                    </td>
                </tr>
              {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <button type="submit" name="button" class="btn" id="exportCSV"><i id="spreadsheet-spinner" class="fa fa-spinner fa-pulse fa-spin fa-fw"></i> Export As Spreadsheet</button>
    <button type="submit" name="button" class="btn" id="exportShape"><i id="shape-spinner" class="fa fa-spinner fa-pulse fa-spin fa-fw"></i> Export As Shapefiles</button>
  {{/if}}
  {{#unless logged_in}}
  <div id="search-results" class="table-section">
      <h1>Search Results</h1>
      <div class="tbl-header">
        <table class="table-bordered">
          <thead class="thead-inverse">
              <tr>
                <th>Select</th>
                <th>Project Title</th>
                <th>Description</th>
                <th>Project Type</th>
                <th>Contact Name</th>
                <th>Contact Number</th>
                <th>Contact Email</th>
              </tr>
          </thead>
        </table>
      </div>

      <div class="tbl-content">
        <table class="table-bordered">
          <tbody>
            {{#each projects}}
              <tr>
                <td><input type="checkbox" value="{{this.id}}"></td>
                <td>{{this.Proj_Title}}</td>
                <td>{{this.Proj_Desc}}</td>
                <td>{{this.Proj_Ty}}</td>
                <td>{{this.Contact_info.Contact_info_name}}</td>
                <td>{{this.Contact_info.Contact_info_phone}}</td>
                <td>{{this.Contact_info.Contact_info_email}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <button type="submit" name="button" class="btn" id="exportCSV"><i id="spreadsheet-spinner" class="fa fa-spinner fa-pulse fa-spin fa-fw"></i> Export As Spreadsheet</button>
    <button type="submit" name="button" class="btn" id="exportShape"><i id="shape-spinner" class="fa fa-spinner fa-pulse fa-spin fa-fw"></i> Export As Shapefiles</button>
  {{/unless}}
</div>

<div class="modal fade" id="delete-modal">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="x">&times;</span>
          </button>
              <h3 class="modal-title">Delete</h3>
          </div>
          <div class="modal-body">
              <h4>Are you sure you would like to delete this project?</h4>
          </div>
          <div class="modal-footer">
              <form method="POST" id="delete-form">
                  <button type="button" class="btn" data-dismiss="modal" id="close-modal-button">Close</button>
                  <button type="submit" class="btn" id="delete-project-button">Delete</button>
              </form>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">

  $('#search-select-all').change(function() {
    if ($('#search-select-all').is(':checked')) {
      $('#search-results input').prop('checked', true);
    } else {
      $('#search-results input').prop('checked', false);
    }
  });

  $(document).on('click', '.delete', function() {
    var id = $(this).attr('data-id');
    $('#delete-form').attr('action', '/projects/id/' + id + '?_method=DELETE');
    $('#delete-modal').modal()
  });

  $('#exportCSV').on('click', function() {
    $('#spreadsheet-spinner').css("display","inline-block");
    exportCSV();
  });

  $('#exportShape').on('click', function() {
    $('#shape-spinner').css('display', 'inline-block');
    separateShapes();
  });

  function exportCSV() {
    var searchIDs = $('table input:checked').map(function(){
     return $(this).val();
    }).toArray();

    var queryString = searchIDs.join('&')

    $.ajax({
        method: "GET",
        url: "/projects/ids/" + queryString,
        dataType: "json",
        success: function(data) {
          var projectsString = JSON.stringify(data);
          $.post('https://ogre.adc4gis.com/convertJson', { json: projectsString, format : "csv"},
          function(csv){
            a = document.createElement('a');
            a.download="projects.csv";
            a.href='data:text/csv;charset=utf-8,'+escape(csv);
            document.body.appendChild(a);
            a.click();
            $('#spreadsheet-spinner').css("display","none");
          });
        }
    });
  }

  function separateShapes() {
    var searchIDs = $('table input:checked').map(function(){
     return $(this).val();
    }).toArray();

    var points = {name: 'points', features: [ ]};
    var lines = {name: 'lines', features: [ ]};
    var multilines = {name: 'multilinestrings', features: [ ]};
    var polygons = {name: 'polygons', features: [ ]};
    var multipoints = {name: 'multipoints', features: []}

    var queryString = searchIDs.join('&');

    $.ajax({
        method: "GET",
        url: "/projects/ids/" + queryString,
        dataType: "json",
        success: function(data) {
          for (var i = 0; i < data.features.length; i++) {
            if (data.features[i].geometry != undefined) {
              switch (data.features[i].geometry.type) {
                case 'Point':
                  points.features.push(data.features[i].properties.id);
                break;
                case 'MultiPoint':
                      multipoints.features.push(data.features[i].properties.id);
                      break;
                case 'LineString':
                  lines.features.push(data.features[i].properties.id);
                break;
                case 'MultiLineString':
                  multilines.features.push(data.features[i].properties.id);
                break;
                case 'Polygon':
                  polygons.features.push(data.features[i].properties.id);
                break;
              }
            }
          }
          var shapeFilesArr = [points, lines, polygons, multilines, multipoints];
          for (var i = shapeFilesArr.length - 1; i >= 0; i--) {
            if (shapeFilesArr[i].features.length < 1) {
                shapeFilesArr.splice(i, 1);
            }
          }
          for (var i = 0; i < shapeFilesArr.length; i++) {
            downloadShapeFiles(shapeFilesArr[i], i + 1, shapeFilesArr.length)
          }
        }
    });
  }

  function downloadShapeFiles(geoTypeObj, numTimesRun, numeTimesToRun) {
    var queryString = geoTypeObj.features.join('&');
    $.ajax({
        method: "GET",
        url: "/projects/ids/" + queryString,
        dataType: "json",
        success: function(data) {
          var geoJSON = JSON.stringify(data);
          //XHR Request Working
          var formData = new FormData();
            formData.append('json', geoJSON);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "https://ogre.adc4gis.com/convertJson");
            xhr.responseType = "arraybuffer"; // ask for a binary result
            xhr.onreadystatechange = function(evt) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        JSZip.loadAsync(xhr.response).then(function(zip) {
                            zip.generateAsync({
                                    type: "blob"
                                })
                                .then(function(blob) {
                                    saveAs(blob, geoTypeObj.name + '.zip');
                                    if (numTimesRun === numeTimesToRun) {
                                      $('#shape-spinner').css('display', 'none');
                                    }
                                });
                        });
                    } else {
                        console.log("http call error");
                    }
                }
            };
          xhr.send(formData);
        }
    });
  }
</script>
