{{#if logged_in}}
<div class="container">
<h1>Update User Profile</h1>
<form class="create-update-form" action="/users/finishuser" method="POST">

  <div class="form-group">
    <label for="un">First Name:</label>
    <input type="text" id="un" name="firstname" value="{{firstname}}">
  </div>

  <div class="form-group">
    <label for="un">Last Name:</label>
    <input type="text" id="un" name="lastname" value="{{lastname}}">
  </div>

  <div class="form-group">
    <label for="un">Email:</label>
    {{!-- <input type="text" name="email" value={{email}}> --}}
    <input type="text" id="un" name="email" value="{{email}}">
  </div>

  <div class="form-group">
    <label for="un">Phone Number:</label>
    <input type="text" id="un" name="phonenumber" value="{{phonenumber}}">
  </div>

  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password">
  </div>

  <div class="form-group">
    <label for="pass">Retype Password:</label>
    <input type="password" id="repass" name="repassword">
  </div>

  <button type="submit">Complete Profile</button>
</form>
</div>
{{/if}}